.body {
  font-family: "Roboto " sans-serif;
  color: black;
}
/* Navigation */

.logo {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.166;
}
.nav-1,
.nav-2,
.nav-3 {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.contact-1,
.contact-2 {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
}
/* Section-1 */

.h1-container {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.071x;
}
.button-con {
  cursor: pointer;
}
/* Section-2 */

.qualities-h3-con {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.qualities-p-con {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.bg-1 {
  background: var(--navyblue, #2e2f42);
}

/* Section-3 */

.section-3-h2-con {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
}
.section-3-h3-con {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.section-3-p-con {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* Section-4 */

.section-4-h2-con {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
}
.section-4-h3-con {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.section-4-p-con {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* Footer */

.footer-p {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
